name: Node.js Package

on:
  push:
    tags:
      - '*'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read        # 允许读取仓库代码
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - name: Publish
        run: |
          npm i
          version=`git describe --tags`
          sed -i "s/0.0.0-version-placeholder/$version/g" ./projects/sim-api/package.json
          sed -i "s/0.0.0/$version/g" ./projects/sim-api/src/version.ts
          npm run -- ng build SimApi -c production
          npm publish ./dist/sim-api --provenance --access public
